{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to PyNotes</h1>
        <p class="lead">PyNotes is a notes app on cloud built using Python Flask and SQLAlchemy!</p>
        <br>
        <p>
            Awesome backgrounds by <a href="https://svgbackgrounds.com" target="_blank">SVGbackgrounds.com</a><br>
            Favicon by <a href="https://flaticon.com/">flaticon.com</a>
        </p>
        <p>Made with ❤️ by <a href="https://github.com/Suvid-Singhal" target="_blank">Suvid Singhal</a></p>
    </div>
{% endblock %}